<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.itsadate.iad_a">
    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher_blah2"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Holo.Light" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".EventEditor"
            android:label="Editor"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.itsadate.iad_a.MainActivity" />
        </activity>
        <activity
            android:name=".ShowCounter"
            android:label="@string/title_activity_event_status"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.itsadate.iad_a.MainActivity" />
        </activity>
        <activity
            android:name=".ScreenSlidePageractivity"
            android:label="@string/title_activity_event_status"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.itsadate.iad_a.MainActivity" />
        </activity>
        <!-- label="No Events" prevents the activity remaining on the stack -->
        <activity
            android:name=".FirstTime"
            android:label="No Events"
            android:noHistory="true"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.itsadate.iad_a.MainActivity" />
        </activity>
        <activity
            android:name=".Utility"
            android:label="@string/title_activity_utility" >
        </activity>
        <activity
            android:name=".BackupAndRestore"
            android:label="@string/title_activity_backupandrestore" >
        </activity>
        <activity
            android:name=".DeletedItems"
            android:label="@string/title_activity_utility" >
        </activity>
        <activity
            android:name=".CountdownFinished"
            android:label="@string/title_activity_cdf" >
        </activity>

        <activity
            android:name=".SettingsActivity"
            android:label="@string/action_settings"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.itsadate.iad_a.MainActivity" />
        </activity>
        <activity
            android:name=".ColorPickerPreference"
            android:label="@string/action_settings"
            android:screenOrientation="portrait"
            android:parentActivityName=".MainActivity" >
            <intent-filter>
                <action
                    android:name="android.provider.Settings.ACTION_LOCATION_SOURCE_SETTINGS" />
                <category
                    android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.itsadate.iad_a.MainActivity" />
        </activity>
        <activity
            android:name=".ColorPickerPreference2"
            android:label="@string/action_settings"
            android:screenOrientation="portrait"
            android:parentActivityName=".MainActivity" >
            <intent-filter>
                <action
                    android:name="android.provider.Settings.ACTION_LOCATION_SOURCE_SETTINGS2" />
                <category
                    android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.itsadate.iad_a.MainActivity" />
        </activity>

    </application>

</manifest>